
environment:
  # This key is encrypted using secdev's appveyor private key,
  # dissected only on master builds (not PRs) and is used during
  # npcap OEM installation
  npcap_oem_key:
    secure: DD54X4DVUeG/IpY41fFPYgl3EfQRTEt5BoibQDm0MeI=

# Disable automatic AppVeyor build logic
build: off
skip_branch_with_pr: true

image:
  - Visual Studio 2017
  - Visual Studio 2019
  - Ubuntu1804
  - macos

for:
-
  matrix:
    only:
      - image: Visual Studio 2017
  install:
    - choco install -y dotnet-sdk --version=5.0.400
    - ps: .\scripts\InstallNpcap.ps1
    - ps: .\scripts\install-winpkfilter.ps1
  build_script:
    - dotnet build -c Release
  test_script:
    - bash scripts/test.sh --filter "TestCategory!=Performance&TestCategory!=RemotePcap&TestCategory!=WinDivert&TestCategory!=WinpkFilter"

-
  matrix:
    only:
      - image: Visual Studio 2019
  install:
    - ps: .\scripts\InstallNpcap.ps1
    - ps: .\scripts\install-winpkfilter.ps1
  build_script:
    - dotnet build -c Release
  test_script:
    - bash scripts/test.sh --filter "TestCategory!=RemotePcap&TestCategory!=WinDivert"

-
  matrix:
    only:
      - image: Ubuntu1804
  install:
    - sudo -E bash scripts/install-libpcap.sh
  test_script:
    - sudo -E bash scripts/test.sh

-
  matrix:
    only:
      - image: macos
  install:
    - sudo -E bash scripts/install-libpcap.sh
  test_script:
    - sudo -E bash scripts/test.sh
