# .NET Desktop
# Build and run tests for .NET Desktop or Windows classic desktop solutions.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/windows/dot-net

trigger:
- master

pr:
  autoCancel: true
  branches:
    include:
    - '*' # quote since "*" is a YAML reserved character

jobs:
- job: linux
  pool:
    vmImage: 'ubuntu-18.04'
  steps:
  - script: sudo -E bash scripts/install-libpcap.sh
  - script: sudo -E bash scripts/test.sh

- job: macos
  pool:
    vmImage: 'macOS-10.15'
  steps:
  - script: sudo -E bash scripts/install-libpcap.sh
  - script: sudo sysctl -w net.inet.udp.maxdgram=65535
  - script: sudo -E bash scripts/test.sh

- job: windows_2016_vs2017_npcap
  pool:
    vmImage: 'VS2017-Win2016'
  steps:
  - pwsh: ./scripts/InstallNpcap.ps1
    env:
      npcap_oem_key: $(npcap_oem_key)
  - script: dotnet restore -s https://api.nuget.org/v3/index.json
  # Disable WinDivert to avoid an internal CLR error due to secure boot having been enabled
  - script: bash scripts/test.sh --filter "TestCategory!=RemotePcap&TestCategory!=WinDivert"

# NOTE: Remove when npcap has rpcapd support
- job: windows_2019_vs2019_winpcap
  pool:
    vmImage: 'windows-2019'
  steps:
  - script: choco install -y winpcap
  - script: dotnet restore -s https://api.nuget.org/v3/index.json
  # Disable WinDivert to avoid an internal CLR error due to secure boot having been enabled
  - script: bash scripts/test.sh --filter TestCategory!=WinDivert

- job: windows_2019_vs2019_npcap
  pool:
    vmImage: 'windows-2019'
  steps:
  - pwsh: ./scripts/InstallNpcap.ps1
    env:
      npcap_oem_key: $(npcap_oem_key)
  - script: dotnet restore -s https://api.nuget.org/v3/index.json
  # Disable WinDivert to avoid an internal CLR error due to secure boot having been enabled
  - script: bash scripts/test.sh --filter "TestCategory!=RemotePcap&TestCategory!=WinDivert"
