version: 2.1

orbs:
  win: circleci/windows@2.4.1

jobs:
  test-windows:
    executor:
      name: win/default
    steps:
      - checkout
      - run: dotnet build -c Release
      - run: bash scripts/test.sh --filter "TestCategory=WinDivert"

  test-ubuntu:
    parameters:
      ubuntu:
        description: Ubuntu version
        type: string
      libpcap:
        description: How to install libpcap
        type: string
    machine:
      image: << parameters.ubuntu >>:202010-01
    steps:
      - checkout
      - run: sudo -E bash scripts/install-dotnet.sh
      - run: sudo -E bash scripts/install-tap.sh
      # Download and compile latest libpcap
      - when:
          condition: { equal: [ libpcap-script, << parameters.libpcap >> ] }
          steps:
            - run: sudo -E bash scripts/install-libpcap.sh
      # Install libpcap from apt-get
      - when:
          condition: {not: { equal: [ libpcap-script, << parameters.libpcap >> ] } }
          steps:
            - run: sudo apt-get install << parameters.libpcap >>
      - run: sudo -E bash scripts/test.sh --filter TestCategory!=SendPacket --arch << parameters.arch >>
      - store_test_results:
          path: Test/TestResults
      - store_artifacts:
          path: Test/TestResults

workflows:
  version: 2
  build:
    jobs:
      - test-windows
      - test-ubuntu:
          name: << matrix.ubuntu >>-<< matrix.libpcap >>
          matrix:
            parameters:
              ubuntu: [ "ubuntu-1604", "ubuntu-2004" ]
              libpcap: [ "libpcap-script", "libpcap-dev", "libpcap0.8" ]
              arch: ['x86', 'x64']
